<h2>{{client.name}}</h2>
<div *ngIf="isLoad">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-6 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Services</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">
                    <small class="text-muted">Total:</small> ${{orderSum}}
                </h1>
                <div class="form-row">
                    <div class="form-group col-md-8">
                        <select class="form-control"
                                [(ngModel)]="selectedService"
                                (ngModelChange)="onChange($event)"
                                required>
                            <option *ngFor="let service of services" [value]="service.id">
                                {{service.name}} - ${{service.price}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <button type="button" class="btn btn-block btn-outline-primary" (click)="addOrder()">
                            Add
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Client orders</span>
        <span class="badge badge-secondary badge-pill">{{orderDetailList.length}}</span>
    </h4>
    <ng-container *ngIf="orderDetailList.length > 0; else emptyOrder">
        <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-condensed"
                *ngFor="let order of orderDetailList">
                <div>
                    <h6 class="my-0">{{order.service.name}}</h6>
                    <small class="text-muted">Price: ${{order.service.price}}</small>
                </div>
                <span class="d-flex flex-column align-items-end">
                <span class="text-danger">
                    ${{(order.service.price - order.payment) | number:'.2'}}
                </span>
                <small class="text-success">${{order.payment}}</small>
            </span>
            </li>
            <li class="list-group-item d-flex justify-content-between bg-light text-danger">
                <span>Debt</span>
                <span>
                <strong>
                    ${{client.debt}}
                </strong>
                <span class="text-muted">({{100 - payoutPercent}}%)</span>
            </span>
            </li>
            <li class="list-group-item d-flex justify-content-between bg-light text-success">
                <span>Total payment</span>
                <span>
                <strong>
                    ${{client.balance}}
                </strong>
                <span class="text-muted font-weight-light">({{payoutPercent}}%)</span>
            </span>
            </li>
        </ul>
        <form class="card p-2">
            <div class="input-group">
                <input type="number" class="form-control" [ngClass]="{'is-invalid': payment > client.debt}"
                       placeholder="Add payment"
                       [(ngModel)]="payment" [ngModelOptions]="{standalone: true}"
                       [max]="client.debt">
                <div class="input-group-append">
                    <button type="button" class="btn btn-block btn-outline-primary" (click)="addBalance()"
                            [disabled]="payment > client.debt">
                        Add
                    </button>
                </div>
            </div>
            <small class="text-danger" *ngIf="payment > client.debt">
                Max payment <= ${{client.debt}}
            </small>
        </form>
    </ng-container>
    <ng-template #emptyOrder>
        <div class="bg-light text-center pt-5 pb-5">
            <h3>No services</h3>
        </div>
    </ng-template>
</div>

