<h4 class="d-flex justify-content-between align-items-center mb-3">
    <span class="text-muted">Clients</span>
    <span class="badge badge-secondary badge-pill">{{clients.length}}</span>
</h4>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Client</th>
            <th scope="col">Debt</th>
            <th scope="col">Payment</th>
        </tr>
    </thead>
    <tbody>
    <tr *ngFor="let client of clients; let i = index">
        <td>{{i+1}}</td>
        <td><a [routerLink]="['/clients', client.id]">{{client.name}}</a></td>
        <td>${{client.debt}}</td>
        <td>${{client.balance}}</td>
    </tr>
    </tbody>
</table>
<form class="card p-2">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="New client" [(ngModel)]="clientName"
               [ngModelOptions]="{standalone: true}">
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary" (click)="onSubmit()">Create</button>
        </div>
    </div>
</form>