<h4 class="d-flex justify-content-between align-items-center mb-3">
    <span class="text-muted">Services</span>
    <span class="badge badge-secondary badge-pill">{{services.length}}</span>
</h4>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Service</th>
        <th scope="col">Price</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let service of services; let i = index">
            <td>{{i+1}}</td>
            <td>{{service.name}}</td>
            <td>{{service.price}}</td>
        </tr>
    </tbody>
</table>
<div>
    <form class="card p-2">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Name" [(ngModel)]="serviceName"
                   [ngModelOptions]="{standalone: true}">
            <input type="text" class="form-control" placeholder="Price" [(ngModel)]="servicePrice"
                   [ngModelOptions]="{standalone: true}">
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary" (click)="onSubmit()">Create</button>
            </div>
        </div>
    </form>
</div>

