<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">DEMO</a>
    </div>
      <ul class="nav justify-content-end">
          <li class="nav-item"><a class="nav-link" routerLink="/clients">Clients</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/services">Services</a></li>
    </ul>
  </div>
</nav>
<div class="container pt-3">
  <router-outlet></router-outlet>
</div>
